{% extends 'base.html' %}

{% block title %}
Главная страница эбоут
{% endblock %}

{% block body%}
<h1> Основная страница эбоут Денег</h1>

<div class="container mt-5">
    <h1>Добавление расходов</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control"  placeholder="Название"><br>
        <input type="number" name="index" id="index" class="form-control"  placeholder="Индекс"><br>
        <input type="number" name="quantity" id="quantity" class="form-control"  placeholder="Кол-во"><br>
        <input type="number" name="cost" id="cost" class="form-control"  placeholder="Цена"><br>

        <input type="submit"  class="btn btn-success" value="Отправить"><br>

    </form>
</div>


{% endblock %}