{% extends 'base.html' %}

{% block title %}
Все посты в бд
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1> Все доходы</h1>

    {% for e in income %}
   <div class="alert alert-info">
<!--        <h2 > {{e.id}} </h2>-->
        <p> Категория/Индекс: {{e.index_sal}} </p>
        <p> Цена: {{e.sum_sal}} </p>
        <p> Название: {{e.name_sal}} </p>
        <p><b> Дата: {{e.date.date() }}</b></p><br>
        <a type="submit"  class="btn btn-danger" href="/delete/{{ e.id }}/income">Удалить</a><br>
    </div>
    {% endfor %}
</div>

{% endblock %}
