{% extends 'base.html' %}

{% block title %}
Все посты в бд
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1> Записи из бд1</h1>

    {% for e in articles %}
    <div class="alert alert-info">
        <h2> {{e.id}} </h2>
        <p> {{e.name}} </p>
        <p> {{e.index}} </p>
        <p> {{e.quantity}} </p>
        <p> {{e.cost}} </p>
        <p><b> Дата: {{e.date.date() }}</b></p>
        <button class="btn btn-warning">Детальнее</button>
    </div>
    {% endfor %}
</div>

{% endblock %}

