{% extends 'base.html' %}

{% block title %}
Все посты в бд
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h1> Все рассходы</h1>

    {% for e in articles %}
    <div class="alert alert-info">
<!--        <h2 > {{e.id}} </h2>-->
        <p> Название: {{e.name}} </p>
        <p> Категория/Индекс: {{e.index}} </p>
        <p> Кол-во: {{e.quantity}} </p>
        <p> Цена: {{e.cost}} </p>
        <p><b> Дата: {{e.date.date() }}</b></p><br>
        <a type="submit"  class="btn btn-danger" href="/delete/{{ e.id }}/outcome">Удалить</a><br>
    </div>
    {% endfor %}

 </div>

{% endblock %}

